{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Página de {% block title %}{% endblock %}</title>

	<!-- CSS -->
	<link rel="stylesheet" href="{% static 'base.css' %}"> <!--css base de todas as paginas-->
	<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

	{% block cssPagina %}
		<!--espaço para que na pagina que desejar possa colocar outros css que afetem apenas a pagina desejada-->
	{% endblock %}
	
</head>
<body>  
	<header>
		<nav>
			<span class="Logo"><span class="vermelho">A</span>rquivo <span class="vermelho">F</span>1</span>
			<ul>
				<li class="{% if request.path == '/ArquivoF1/inicio' %}active{% endif %}"><a href="{% url 'mainPage' %}">Inicio</a></li>
				<li class="{% if request.path == '/ArquivoF1/noticias' %}active{% endif %}"><a href="{% url 'newsPage' %}">Notícias</a></li>
				<li class="{% if request.path == '/ArquivoF1/resultados' %}active{% endif %}"><a href="{% url 'resultsPage' %}">Resultados</a></li>
				<li class="{% if request.path == '/ArquivoF1/pilotos' %}active{% endif %}"><a href="{% url 'driversPage' %}">Pilotos</a></li>
				<li class="{% if request.path == '/ArquivoF1/equipes' %}active{% endif %}"><a href="{% url 'teamsPage' %}">Equipes</a></li>
				<li class="{% if request.path == '/ArquivoF1/pistas' %}active{% endif %}"><a href="{% url 'tracksPage' %}">Pistas</a></li>
			</ul>

			{% if user.is_authenticated and user.is_staff %}
				<div class="admin">
					<button class="modalTipo" data-open-modal="modalTypePublish">
						<img src="{% static 'publish.png' %}">
					</button>
					<button>
						<img src="{% static 'user.png' %}">
					</button>
				</div>
			{% endif %}
		</nav>
	</header>

	<!--conteudo da pagina-->
	{% block content %}
		<!--espaço para que na pagina desejada aja um local pro seu conteudo principal-->
	{% endblock %} 
	
	<footer>
		<span class="Logo"><span class="vermelho">A</span>rquivo <span class="vermelho">F</span>1</span>
	</footer>

	<!--modais-->
	
    <!--modal - type publish-->
    <div id="modalTypePublish" class="modalType">
        <div class="modalContentTypePublish">
            <div class="modalHeader">
                <h2>Ações de Administrador</h2>
            </div>
            <div class="modalTypePublishBox">
                <!--conteudo-->
                <div class="boxOptions">
                    <button data-open-modal="modalNews" class="typeNews" data-type="Noticia" ><span>Enviar Notícia</span></button>
                    <button class="typeResults" data-type="Resultado"><span>Cadastro de Resultado</span></button>
					<button data-open-modal="modalDriver" class="typeDrivers" data-type="Piloto"><span>Cadastro de Piloto</span></button>
					<button data-open-modal="modalTeam" class="typeTeams" data-type="Equipe"><span>Cadastro de Equipe</span></button>
					<button class="typeTracks" data-type="Pista"><span>Cadastro de Pista</span></button>
                </div>
            </div>
        </div>
    </div>

	<!--modal - news-->
    <div id="modalNews" class="modalForm">
        <div class="modalFormContent">
			<!--STEP2-->
            <div class="modalHeaderForm">
                <h2>Formulário de Envio</h2>
				<span>Envio de Notícia</span>
            </div>
			<div class="abas">
				<nav>
					<ul>
						<li><button class="tab active" data-setp="0">Corpo da Notícia</button></li>
						<li><button class="tab" data-setp="1">Imagens</button></li>
					</ul>
				</nav>
			</div>
            <div class="modalDriverWizard step active">
                <!--conteudo-->
                <div class="formularioGrid">
                   {% csrf_token %}
                    <div class="infoBox">
                        <div class="formInput">
							<input type="text" class="titleNewsInput" name="titleNews" placeholder="Título da Notícia" required>
							<textarea class="contentNewsInput" name="contentNews" placeholder="Corpo da Notícia" required></textarea>
						</div>
                    </div>
                </div>
				<div class="btnContainer">
					<button class="nextBtn">Próximo</button>
				</div>
            </div>

			<!--STEP3-->
			<div class="modalDriverWizard step">
				<div class="modalHeader">
                	<h2>Preview do Cadastro</h2>
            	</div>

				<div class="btnContainer">
					<button class="confirmBtn" type="submit">Confirmar</button>
				</div>
			</div>
        </div>
    </div>

	<!--modal - driver-->
    <div id="modalDriver" class="modalForm">
        <div class="modalFormContent">
			<!--STEP2-->
            <div class="modalHeaderForm">
                <h2>Formulário de Envio</h2>
				<span>Cadastro de Piloto</span>
            </div>
			<div class="abas">
				<nav>
					<ul>
						<li><button class="tab active" data-setp="0">Informações</button></li>
						<li><button class="tab" data-setp="1">Preview</button></li>
					</ul>
				</nav>
			</div>
            <div class="modalDriverWizard step active">
                <!--conteudo-->
                <div class="formularioGrid">
                   {% csrf_token %}
                    <div class="infoBox">
                        <div class="left">
							<div class="formInput">
								<span>Nome do Piloto</span>
								<input type="text" class="nameDriverInput" name="nameDriver" required>
							</div>
							<div class="dropdown">
								<div class="teamBox">
									<span>Equipe</span>
									<div class="dropdownInput" onclick="toggleDropdown('a')">
										<span id="team">-</span>
										<span class="arrow">v</span>
									</div>
									<div class="dropdownOptions" id="opcoes-a">
										<div class="option" onclick="selecionar('Redbull', 'a')">Redbull</div>
										<div class="option" onclick="selecionar('Mercedes', 'a')">Mercedes</div>
									</div>
								</div>
							</div>
							<div class="formInput">
								<span>Data de Nascimento (opicional)</span>
								<input type="date" class="dateDriverInput" name="dateDriver">
							</div>
						</div>
						<div class="right">
							<div class="formInput">
								<span>Numeração</span>
								<input type="number" class="numberDriverInput" name="numberDriver" required>
							</div>
							<div class="dropdown">
								<div class="country">
									<span>País</span>
									<div class="dropdownInput" onclick="toggleDropdown('b')">
										<span id="country">-</span>
										<span class="arrow">v</span>
									</div>
									<div class="dropdownOptions" id="opcoes-b">
										<div class="option" onclick="selecionar('Brasil', 'b')">Brasil</div>
										<div class="option" onclick="selecionar('França', 'b')">França</div>
									</div>
								</div>
							</div>
							<div class="formInput">
								<span>Foto do Piloto (desejável)</span>
								<input type="file" class="dateTransferInput" name="imageDriver" accept="image/*">
							</div>
						</div>
                    </div>
                </div>
				<div class="btnContainer">
					<button class="nextBtn">Próximo</button>
				</div>
            </div>

			<!--STEP3-->
			<div class="modalDriverWizard step">
				<div class="modalHeader">
                	<h2>Preview do Cadastro</h2>
            	</div>

				<div class="btnContainer">
					<button class="confirmBtn" type="submit">Confirmar</button>
				</div>
			</div>
        </div>
    </div>

	<!--modal - team-->
    <div id="modalTeam" class="modalForm">
        <div class="modalFormContent">
			<!--STEP2-->
            <div class="modalHeaderForm">
                <h2>Formulário de Envio</h2>
				<span>Cadastro de Equipe</span>
            </div>
			<div class="abas">
				<nav>
					<ul>
						<li><button class="tab active" data-setp="0">Informações</button></li>
						<li><button class="tab" data-setp="1">Preview</button></li>
					</ul>
				</nav>
			</div>
            <div class="modalDriverWizard step active">
                <!--conteudo-->
                <div class="formularioGrid">
                   {% csrf_token %}
                    <div class="infoBox">
                        <div class="left">
							<div class="formInput">
								<span>Nome da Equipe</span>
								<input type="text" class="nameDriverInput" name="nameDriver" required>
							</div>
							<div class="formInput">
								<span>Data de Criação (opicional)</span>
								<input type="date" class="dateDriverInput" name="dateDriver">
							</div>
						</div>
						<div class="right">
							<div class="formInput">
								<span>Foto do Carro (desejável)</span>
								<input type="file" class="dateTransferInput" name="imageDriver" accept="image/*">
							</div>
							<div class="formInput">
								<span>Foto da Logo da Equipe (desejável)</span>
								<input type="file" class="dateTransferInput" name="imageDriver" accept="image/*">
							</div>
						</div>
                    </div>
                </div>
				<div class="btnContainer">
					<button class="nextBtn">Próximo</button>
				</div>
            </div>

			<!--STEP3-->
			<div class="modalDriverWizard step">
				<div class="modalHeader">
                	<h2>Preview do Cadastro</h2>
            	</div>

				<div class="btnContainer">
					<button class="confirmBtn" type="submit">Confirmar</button>
				</div>
			</div>
        </div>
    </div>


	<!-- JS-->
	<!--boostrap-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
	<script src="{% static 'script.js' %}"></script>
	<!--outros scripts-->

</body>
</html>