{% extends 'base.html' %}
{% load static %}

{% block cssPagina %}
	<link rel="stylesheet" href="{% static 'drivers.css' %}">
{% endblock %}

{% block title %}Pilotos{% endblock %}

{% block content %}
	<h1>Pilotos</h1>
	<!--conteudo-->
	<div class="layoutDrivers">
		<!--lista-->
		<div class="gridDrivers">
			<!--pilotos-->
			{% for p in pilotos %}
				<div class="cardDriver">
					<div class="items">
						<!--itens-->
						<p>{{ p.pilotoNome }}</p>
						<p>{{ p.pilotoEquipe }}</p>
						<p>{{ p.pilotoNumeracao }}</p>
						<p>{{ p.pilotoPais }}</p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
