:root {
    --background: #ffffff;
    --primary: #1e1c1c;
    --secondary: #1e2634;
    --hover: #a9b4cd69;
    --textPrimary: #f2ecec;
    --textGreen: #00bf63;
    --textRed: #ef4136;

    --fontPrimary: 'Roboto', sans-serif;
}

body {
    margin: 0;
    background: var(--background);
}

header {
    width: 100%;
    height: 8vh;
    background: var(--primary);
    background: linear-gradient(90deg, rgba(239, 65, 54, 1) 0%,  rgb(22, 21, 21) 20%);
}

.Logo {
    font-family: var(--fontPrimary);
    color: var(--textPrimary);
    font-size: 1.2vw;
    font-weight: bold;
    font-style: italic;
}
.vermelho {
    color: var(--textRed);
}

header nav {
    display: flex;
    align-items: center;
    gap: 2rem;
    height: 100%;
    justify-content: space-evenly;
}

header ul {
    display: flex;
    height: 100%;
    width: 50vw;
    list-style: none;
    margin: 0;
    padding: 0;
}

header li {
    height: 100%;
    width: 15vw;
}

header a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
    font-family: var(--fontPrimary);
    color: var(--textPrimary);
    font-size: 1vw;
    font-weight: bold;
    cursor: pointer;
    transition: color, background 0.3s ease;
}

header a:hover {
    background: var(--hover);
}

header .active {
    color: var(--textPrimary);
    text-decoration: underline;
}

header button {
    padding: 0.5vh 1vw;
    background: var(--primary);
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

header img {
    height: 2vh;
}

header button:hover {
    background: var(--hover);
}

hr {
    border: none;
    border-top: 1px solid var(--secondary);
    margin: 60px 0;
}

footer {
    width: 100%;
    height: 8vh;
    background: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
}




/*base modal*/
.btnCloseModal {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background: var(--textRed);
    border: none;
    color: white;
    border-radius: 50px;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    transition: background 0.2s;
}

.btnCloseModal:hover {
    background: var(--hover);
    color: var(--active);
}



/*modal tipo de envio*/
.modalType {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    padding-top: 8vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 999;
}

.modalType.ativo {
    opacity: 1;
    pointer-events: all;
}

.modalContentTypePublish {
    background: var(--primary);
    width: 20vw;
    height: 40vh;
    position: relative;
}

.modalHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4vh;
    color: var(--textPrimary);
}

.modalTypePublishBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40vh;
    color: var(--hover);
    font-size: 1.1rem;
    font-weight: bold;
    font-style: italic;
}

.modalType span {
    font-size: 1.8vh;
}

.boxOptions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.boxOptions button{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 6vh;
    width: 100%;
    padding: 0.5rem 1rem;
    color: var(--hover);
    font-size: 2rem;
    font-weight: bold;
    background: none;
    border: solid 1px var(--secondary);
    cursor: pointer;
    transition: background 0.3s ease;
}

.boxOptions button:hover{
    background: var(--hover);
}




/*modal de formulario config*/

.modalForm {
    display: flex;
    justify-content: center;
    padding-top: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 999;
}

.modalForm.ativo {
    opacity: 1;
    pointer-events: all;
}

.modalFormContent {
    background: var(--primary);
    width: 90vw;
    height: 80vh;
    position: relative;
}

.modalHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4vh;
    color: var(--textPrimary);
}

.modalDriverBox {
    display: flex;
    flex-direction: row;
    height: 90%;
    width: 100%;
}

.formularioGrid {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    color: var(--hover);
    font-size: 1.1rem;
    font-weight: bold;
    padding: 1rem;
    gap: 1rem;
}

.infoBox {
    display: flex;
    flex-direction: row;
    height: 50vh;
    width: 100%;
    gap: 1rem;
}

.left, .right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.left input, .right input {
    width: 20vw;
    padding: 0.8vw;
    border: none;
    border-radius: 4px;
    background: var(--background);
    color: var(--primary);
    font-size: 1rem;
}

/*dropdown*/
.dropdown {
    width: 8vw;
    position: relative;
}

.dropdown label {
    margin: 0px;
}

.dropdownInput {
    display: flex;
    justify-content: space-between;
    width: 20vw;
    padding: 0.8vw;
    border: none;
    border-radius: 4px;
    background: var(--background);
    color: var(--primary);
    font-size: 1rem;
}

.dropdownOptions {
    display: none;
    flex-direction: column;
    background: var(--background);
    border-radius: 8px;
    margin-top: 5px;
    overflow: hidden;
    position: absolute;
    width: 15vw;
    z-index: 10;
}

#arrow {
    font-size: 1rem;
}

.option {
    color: var(--primary);
    background: var(--background);
    padding: 0.8rem;
    border: 1px solid var(--primary);
    text-align: center;
    cursor: pointer;
    font-size: 1rem;
}

.option:hover {
    background: var(--secondary);
    color: var(--textPrimary);
}
/*fim dropdown*/
