:root {
    --background: #e4f1e6;
    --primary: #1e1c1c;
    --secondary: #1e2634;
    --hover: #a9b4cd69;
    --textPrimary: #f2ecec;
    --textGreen: #00bf63;
    --textRed: #ef4136;

    --fontPrimary: 'Roboto', sans-serif;
}

body {
    margin: 0;
    background: var(--background);
}

header {
    width: 100%;
    height: 8vh;
    background: var(--primary);
    background: linear-gradient(90deg, rgba(239, 65, 54, 1) 0%,  rgb(22, 21, 21) 20%);
}

.Logo {
    font-family: var(--fontPrimary);
    color: var(--textPrimary);
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
}
.vermelho {
    color: var(--textRed);
}

nav {
    display: flex;
    align-items: center;
    gap: 2rem;
    height: 100%;
    justify-content: space-evenly;
}

ul {
    display: flex;
    height: 100%;
    width: 50vw;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 15vw;
    font-family: var(--fontPrimary);
    color: var(--textPrimary);
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: color, background 0.3s ease;
}

li:hover {
    background: var(--hover);
}

a {
    text-decoration: none;
    color: inherit;
}
